{% extends "includes/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-gradient-warning rounded shadow-sm">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">The list of messages</h1>
    </div>
  </div>
<div class="container">
  {% for message in messages %}
    {% if forloop.counter0|divisibleby:2 %}
      <div class="row">
    {% endif %}

    <div class="col-md-6 mb-3 mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ message.subject }}</h5>
          <p class="card-text">{{ message.body|slice:":100" }}..</p>
          <a href="#" class="btn btn-primary">Check it</a>
        </div>
      </div>
    </div>

    {% if forloop.counter|divisibleby:2 or forloop.last %}
      </div>
    {% endif %}
  {% empty %}
    <p class="text-center text-muted">Нет новых сообщений</p>
  {% endfor %}
</div>

</main>
{% endblock %}
