{% extends "includes/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<main class="container">
<div class="d-flex align-items-center justify-content-between p-3 my-3 text-white bg-gradient-warning rounded shadow-sm">
    <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1"><strong>The list of all users in SWIFTMAIL</strong></h1>
    </div>
</div>
  {% for user in customusers %}
<div class="card mt-3 {% if forloop.last %}mb-5{% endif %}">
  <div class="card-body">
    <h5 class="card-title">{{ user.username }}</h5>
    <p class="card-text">{{ user.email }}</p>
      {% if user.is_active == True %}
        <a href="{% url 'users:block_user' pk=user.pk %}" class="btn bg-gradient-danger text-white">Block user</a>
      {% elif user.is_active == False %}
        <a href="{% url 'users:block_user' pk=user.pk %}" class="btn btn-primary">Unblock user</a>
      {% endif %}
  </div>
</div>
  {% empty %}
  {% endfor %}
</main>
{% endblock %}
